@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body {
  background-color: LightCyan;
  font-family: 'Gloria Hallelujah', cursive;
}

header, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  font-size: 0.8em;
  color: lightgrey;
}

.heading {
  color: green;
}

.subheading {
  font-size: 1.5em;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section img {
  width: 30%;
  height: 30%;
  padding: 10px;
}
